body{
  padding: 0;
  margin: 0;
}
#root {
  padding: 0;
  margin: 0;
  border:none;
  max-width: 1920px;
}
.header{
  width: 100%;
  background-color:#FCEEF5;
  padding: 0 32px;
}
.logo{
  padding: 8px;
  width: 60px;
  height: 80px;
}
