@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  background-color: #fff9ef;
}
body textarea {
  height: 250px;
  min-height: 250px;
  max-height: 400px;
  overflow: auto;
}
body li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p,
pre,
div {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

#root {
  padding: 0;
  margin: 0;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff9ef;
  padding: 0 5%;
  transition: position 0.3s ease-in-out;
}
.header .logo {
  padding: 8px;
  width: 60px;
  height: 80px;
  background-image: url("/src/images/logo.png");
  background-size: contain;
}
.header .header-list {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 0;
}
.header .header-list li {
  list-style-type: none;
}
.header .header-list-el {
  font-size: 24px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.header .header-list-el:hover {
  color: #f9b233;
}

.heroHome {
  background-image: url("/src/images/heroHome.jpg");
}

.heroAboutMe {
  background-image: url("/src/images/heroAboutMe.jpeg");
}

.gifPos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.gifPos .loadingGif {
  width: 512px;
  height: 512px;
}

.hero {
  background-position: center;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-attachment: scroll;
  background-attachment: fixed;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
}

.contacts-pos {
  padding-top: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 2;
}

.hero-indiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8% 10%;
}
.hero-indiv .hero-title {
  font-size: 64px;
}
.hero-indiv .hero-pretitle {
  font-size: 32px;
  margin: 8px 16px 16px 16px;
}
.hero-indiv .hero-p {
  display: flex;
  align-content: right;
}

.flexator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.ml-8 {
  margin-left: 8px;
}

.home-hi {
  font-size: 36px;
  margin-bottom: 16px;
}

.services-about {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 16px 10%;
  padding: 8px 24px;
  background-color: #ffeed2;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pre-formatted-text {
  white-space: pre-wrap;
}

.homestyle {
  margin: 16px 5%;
  background-color: #ffeed2;
  min-height: 800px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.poststyle {
  width: 95%;
  background-color: #ffeed2;
  border-radius: 10px;
  padding: 0 16px;
}
@media screen and (max-width: 767px) {
  .poststyle {
    padding: 0 8px;
  }
}

.image-post {
  margin: 8px;
  border-radius: 10px;
  max-height: 300px;
  max-width: 480px;
  padding: 4px;
}

.posts-list {
  padding: 0;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.home-about {
  padding: 8px 24px;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.list-methods {
  padding-left: 0;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.btn-warning {
  width: 160px;
  height: 38px;
  margin: 0;
  text-align: center;
  border-radius: 12px;
  background: #ffc107;
  border: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s linear;
  line-height: 18px;
  letter-spacing: 0em;
}
@media screen and (max-width: 767px) {
  .btn-warning {
    width: 120px !important;
    font-size: 16px;
  }
}

.openModal {
  width: 160px;
  height: 38px;
  margin: 0;
  text-align: center;
  border-radius: 12px;
  background: #ffc107;
  border: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 24px;
  transition: all 0.3s linear;
  line-height: 18px;
  letter-spacing: 0em;
}
.openModal:hover {
  background: rgb(212, 151, 38);
}
@media screen and (max-width: 767px) {
  .openModal {
    width: 120px;
    font-size: 16px;
  }
}

.form-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.cardback {
  background-color: #fff9ef;
  padding: 16px;
  position: absolute;
  top: 50%;
  gap: 16px;
  width: 700px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 767px) {
  .cardback {
    right: 0;
    width: 90vw;
  }
}

.list-before li::before {
  content: "";
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  background-image: url("./images/sun.png");
}

.title-list-methods {
  font-weight: 600;
  margin: 32px 0 8px 0;
}

.list-methods-mini {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.list-methods-mini li {
  list-style-type: disc;
}

.fat {
  font-weight: 700;
}

.form-editing {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4px;
}

.blog-post {
  padding: 0;
  display: flex;
  gap: 24px;
  align-items: center;
  text-align: center;
}

.close-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

@media screen and (min-width: 541px) {
  .iam {
    height: 310px;
    float: right;
  }
  .form-control {
    width: 600px;
  }
}
@media screen and (max-width: 540px) {
  .form-control {
    width: 80vw;
  }
  .hero-indiv {
    padding: 6%;
  }
  .home-about {
    padding: 8px 16px;
    font-size: 24px;
  }
  .list-methods {
    row-gap: 8px;
  }
  .hero-title {
    font-size: 46px;
  }
  .hero-pretitle {
    font-size: 24px;
  }
  p,
  pre,
  div {
    font-size: 16px;
  }
  .iam {
    width: 100%;
  }
  .blog-post {
    justify-content: center;
    flex-direction: column;
  }
  .header-list {
    flex-direction: column;
    list-style-image: none;
  }
  .contacts-pos {
    padding: 0;
    font-size: 24px;
  }
  .home-hi {
    font-size: 32px;
    font-weight: 500;
  }
  .image-post {
    margin: 8px;
    border-radius: 10px;
    max-height: 300px;
    max-width: 96%;
  }
}
@media screen and (max-width: 1200px) {
  .header-list {
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    background-color: #fff9ef;
  }
  .header-list #dropdown-basic-button {
    color: black;
    font-size: 18px;
    --bs-btn-color: #000;
    --bs-btn-bg: #f9b233;
    --bs-btn-border-color: #f9b233;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f9b233;
    --bs-btn-hover-border-color: #f9b233;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f9b233;
    --bs-btn-active-border-color: #f9b233;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f9b233;
    --bs-btn-disabled-border-color: #f9b233;
  }
}
.form-control:hover,
.form-control:focus,
.btn:hover,
.btn:focus {
  box-shadow: none;
}

.form {
  padding: 0;
  width: 100%;
  margin: auto;
}

.form form {
  border-radius: 10px;
  padding: 2rem;
}

.form form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

.form form #sendmessage.show,
.form form #errormessage.show {
  display: block;
}

.text-in-blog {
  text-wrap: wrap;
}/*# sourceMappingURL=index.css.map */